<p>sidenav works!</p>
<div class="main-container" >   
    <app-header [sidenav]="sidenav"></app-header> 

        <mat-sidenav-container>          
            
          <mat-sidenav #sidenav class="snav-style">   
            
            <mat-list>

              <mat-list-item role="listitem" (click)="sidenav.toggle()">                
                <a [routerLink]="['/']">                
                  <div class="icon-with-text">                    
                      <mat-icon class="home-margin">home</mat-icon>Home                    
                  </div>
              </a>                
              </mat-list-item>                

              <mat-divider></mat-divider>
              
              <mat-list-item role="listitem" (click)="sidenav.toggle()">                
                <a [routerLink]="['/category']">                
                  <div class="icon-with-text">                    
                    <mat-icon class="home-margin">list</mat-icon>Category                    
                  </div>
                </a>                
              </mat-list-item>
                             

            </mat-list>

                
               
          </mat-sidenav>

          <mat-sidenav-content>           
            <router-outlet></router-outlet>
          </mat-sidenav-content>
            

        </mat-sidenav-container>      

        <app-footer></app-footer>       
</div>


