html, body { 
  height: 100%; 
}

body { 
  margin: 10px;  
  font-family: 'Lato', sans-serif;
}

.snav-style{
    width: 15%; 
    background-color: #141622 !important;       
}

/* Home icon */
.icon-with-text {
    display: flex;
    align-items: center;
  }
  
  .home-margin {
    margin-right: 5px; 
  }
  
  /* Reset margin */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bt-width{

  width: 100px;

}

.mg-bt{

  margin: 10px;

}

