/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-10p{
    width: 10%;
}

/* Home icon */
.icon-with-text {
    display: flex;
    align-items: center;
  }
  
  .home-margin {
    margin-right: 5px; 
  }
  
  
