html, body { 
  height: 100%; 
}

body { 
  margin: 10px;  
  font-family: 'Open Sans', sans-serif;
}

.w-10p{
    width: 10%;        
}

/* Home icon */
.icon-with-text {
    display: flex;
    align-items: center;
  }
  
  .home-margin {
    margin-right: 5px; 
  }
  
  /* Reset margin */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
